<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LideroApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tela10Perifl"
            android:exported="true">
        </activity>
        <activity
            android:name=".Tela11Cursos"
            android:exported="true">
        </activity>

        <activity
            android:name=".TelaCadastro"
            android:exported="true">
        </activity>

        <activity android:name=".Pergunta1Activity"/>
        <activity android:name=".Pergunta2Activity"/>
        <activity android:name=".Pergunta3Activity"/>
        <activity android:name=".Pergunta4Activity"/>
        <activity android:name=".Pergunta5Activity"/>
        <activity android:name=".Pergunta6Activity"/>
        <activity android:name=".Pergunta7Activity"/>
        <activity android:name=".Pergunta8Activity"/>
        <activity android:name=".Pergunta9Activity"/>
        <activity android:name=".Pergunta10Activity"/>
        <activity android:name=".Pergunta11Activity"/>
        <activity android:name=".Pergunta12Activity"/>
    </application>

</manifest>